In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('ops').getOrCreate()

In [5]:
df=spark.read.csv('mydata.csv',inferSchema=True,header=True)

In [6]:
df.show()

+-----+-----+
| name|sales|
+-----+-----+
| John|  100|
|Cindy|   86|
| Carl|  230|
+-----+-----+

In [7]:
df.filter("sales<90").show()

+-----+-----+
| name|sales|
+-----+-----+
|Cindy|   86|
+-----+-----+

In [10]:
df.filter("sales<90").select('name').show()

+-----+
| name|
+-----+
|Cindy|
+-----+

In [22]:
df.filter((df['name']=='Carl')| ~(df['sales']<101)).show()

+----+-----+
|name|sales|
+----+-----+
|Carl|  230|
+----+-----+

In [30]:
df.select('name').show()

+-----+
| name|
+-----+
| John|
|Cindy|
| Carl|
+-----+

In [39]:
df.head(1)

[Row(name='John', sales=100)]

In [40]:
df.withColumn('dob-sales',df['sales']*2).show()

+-----+-----+---------+
| name|sales|dob-sales|
+-----+-----+---------+
| John|  100|      200|
|Cindy|   86|      172|
| Carl|  230|      460|
+-----+-----+---------+

In [41]:
df.withColumnRenamed('name','f_name').show()

+------+-----+
|f_name|sales|
+------+-----+
|  John|  100|
| Cindy|   86|
|  Carl|  230|
+------+-----+

use sql in spark

In [42]:
df.createOrReplaceTempView('data')

In [56]:
spark.sql('select * from data order by name ').show()

+-----+-----+
| name|sales|
+-----+-----+
| Carl|  230|
|Cindy|   86|
| John|  100|
+-----+-----+

In [44]:
results.show()

+-----+-----+
| name|sales|
+-----+-----+
| John|  100|
|Cindy|   86|
| Carl|  230|
+-----+-----+

In [52]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- sales: integer (nullable = true)

In [60]:
from pyspark.sql.functions import avg,format_number

In [64]:
average=df.select(avg('sales').alias('avg'))
average.select(format_number('avg',2).alias('avg')).show()

+------+
|   avg|
+------+
|138.67|
+------+

In [68]:
df.orderBy(df['sales'].desc()).show()

+-----+-----+
| name|sales|
+-----+-----+
| Carl|  230|
| John|  100|
|Cindy|   86|
+-----+-----+

In [69]:
df.createOrReplaceTempView('data')

In [71]:
spark.sql("select avg(sales) as avg from data").show()

+------------------+
|               avg|
+------------------+
|138.66666666666666|
+------------------+